

/* Seção de Produtos */
.products-section {
  /* padding: 40px 5px;
  background: linear-gradient(to bottom, #d9d9d9); */
  text-align: center;
  margin-top: -120px;
  margin-bottom: 10%;
  margin-top: 5%;

}

.section-title {
  font-size: 40px;
  margin-bottom: 32px;
  color: #000000;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.product-card {
  background-color: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  padding: 16px;
  width: 250px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 18px;
  margin: 12px 0 8px;
}

.product-card p {
  font-size: 16px;
  color: #004dff;
  margin-bottom: 12px;
}

.botoes-produto {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.buy-button,
.detalhes-button {
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 12px 0px 12px 0;
  transition: background 0.2s;
  margin: 0;
}

.buy-button {
  background: #0070f3;
  color: #fff;
}

.detalhes-button {
  background: #000000;
  color: #ffffff;
}

.detalhes-button:hover {
  background: #333333;
}

/* === MOBILE (até 767px) === */
@media (max-width: 767px) {
  

  .section-title {
    margin-top: 100px;
    font-size: 30px;
  }


  .botoes-produto {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .buy-button,
  .detalhes-button {
    width: 100%;
  }
}

/* === TABLETS (768px – 1279px) === */
@media (min-width: 768px) and (max-width: 900px) {
  

  .section-title {
    margin-top: 80px;
    font-size: 30px;
  }

}


/* === DESKTOP FULL HD (1280px – 1920px) === */
@media (min-width: 1280px) {

  .section-title {
    margin-top: 80px;
    font-size: 30px;
  }
}