.home-container {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}


.banner-loja {
  width: 100%;
  padding: 0;
  margin: 0;
}

.banner-img {
  width: 100%;
  height: 280px; /* altura padrão para desktops */
  overflow: hidden;
  position: relative;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 1 !important;
  transition: none !important;
}

/* Responsividade para tablets e celulares */

@media (max-width: 768px) {
  .banner-img {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .banner-img {
    height: 150px;
  }
}


.faixa-gradiente {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #000000 6%,
    #000b9d 20%,
    #D9D9D9 20%
  );
}

.categorias-title {
  font-size: 40px;
  margin-bottom: 1.5rem;
  text-align: center;
  margin-top: 30px;
  color: #000000;
}

.categorias-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto 2rem auto;
}

.categoria-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoria-icon {
  background: #000b9d;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.7rem;
  box-shadow: 0 2px 12px #0002;
}

.categoria-icon img {
  width: 60px;
  height: 60px;
}

.categoria-grid-item p {
  margin: 0;
  font-weight: 600;
  /* Cor padrão herdada */
  font-size: 1.25rem;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  .categorias-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 1.5rem;
    max-width: 98vw;
  }
  .categoria-icon {
    width: 70px;
    height: 70px;
  }
  .categoria-icon img {
    width: 50px;
    height: 50px;
  }
  .categoria-grid-item p {
    font-size: 1rem;
  }



}

/* Responsivo: celulares pequenos até 480px */
@media (max-width: 480px) {
  .categorias-title {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .product-card {
    width: 90%;
    padding: 12px;
  }

  .product-card img {
    height: 220px;
    object-fit: cover;
  }

  .product-card h3 {
    font-size: 15px;
  }

  .product-card p {
    font-size: 13px;
  }


  .categoria-icon {
    width: 52px;
    height: 52px;
  }

  .categoria-icon img {
    width: 28px;
    height: 28px;
  }

  .cards-container {
    gap: 16px;
  }

  .categorias-container {
    gap: 50px;
  }

}
