.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}

.logo-reserva {
  max-width: 50px;
  height: auto;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
}

.menu-lateral {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff 0%, #dfdfdf 31%, #01579b 100%);
  transition: right 0.3s ease;
  z-index: 1000;
  padding-top: 10px;
}

.menu-lateral.ativo {
  right: 0;
}

.menu-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.fechar-icon {
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-lateral li {
  padding: 10px 20px;
}

.menu-lateral a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.menu-lateral a:hover {
  text-decoration: underline;
}
